<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action = "#" accept-charset="utf-8" name = "person_info" method = "get">
        
        <fieldset style = "width:250" >
        <legend>학년/반 선택</legend>
        학년/반<br>
        <select name = "grade">
        <optgroup label = "1학년">
        <option value = "1grade-1class">1학년 1반</option>
        <option value = "1grade-2class">1학년 2반</option>
        <option value = "1grade-3class">1학년 3반</option>
        </optgroup>
       
        <optgroup label = "2학년">
        <option value = "2grade-1class">2학년 1반</option>
        <option value = "2grade-2class">2학년 2반</option>
        <option value = "2grade-3class">2학년 3반</option>
        <option value = "2grade-4class">2학년 4반</option>
        </optgroup>
        
    </select>
        <br><br>
        <input type = "submit" value = "submit">
        <input type = "reset" value = "reset"/><br><br>
        </fieldset>
    </form>

</body>
</html> 